.container {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  max-width: 360px;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
  overflow: hidden;
  padding: 0 16px;
}

.icon,
.input {
  vertical-align: middle;
  color: var(--primary-color);
}

.input {
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  border: none;
  background: transparent;
}

.button {
  background: transparent;
  border: none;
  padding: 0;
}

.icon,
.loader {
  font-size: 24px;
}

.loader {
  color: var(--light-gray);
  vertical-align: middle;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
