.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  max-width: 365px;
  width: 100%;
  margin-bottom: 32px;
}

.subtitle {
  color: var(--dark-gray);
  line-height: 24px;
  margin-bottom: 32px;
  text-align: center;
}

.subtitle br {
  display: none;
}

@media (min-width: 950px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }

  .subtitle br {
    display: block;
  }
}
