@import "bulma/css/bulma.css";

:root {
  --primary-color: #920606;
  --gray: #484848;
  --light-gray: #e5e7eb;
  --dark-gray: #222;
  --placeholder: #9ca3af;
}

.-white-space-nowrap {
  white-space: nowrap;
}
